<div class="bg-white shadow-xl">
  <div class="px-4 py-12 mx-auto max-w-screen-xl sm:px-6 lg:py-16 lg:px-8">
    <h2 class="text-3xl font-extrabold text-gray-900 leading-9 sm:text-4xl sm:leading-10">
      Frequently asked questions
    </h2>
    <div class="pt-6 mt-6 border-t-2 border-gray-200">
      <dl>
        <div class="md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 leading-6 md:col-span-5">
            What kind of test do we use?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500 leading-6">

                We have partnered with MicroGenDX to offer FDA-approved Reverse Transcriptase
                PCR (rRT-PCR) assay for the specific detection of the SARS-CoV-2 virus. The
                assay validation exceeds the minimum recommendations put forth by the FDA
                guidance policies.

            </p>
          </dd>
        </div>
        <div class="pt-6 mt-8 border-t border-gray-200 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 leading-6 md:col-span-5">
            How do you administer the test?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500 leading-6">
                You will recieve a kit that includes easy-to use sputum collection device. Simply collect and
                ship it back at your convinience.
            </p>
          </dd>
        </div>
        <div class="pt-6 mt-8 border-t border-gray-200 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 leading-6 md:col-span-5">
                Is this test covered by insurance?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500 leading-6">
                In many cases we are able to work with your insurance providers to reduce and
                often eliminate the costs of the testing.
            </p>
          </dd>
        </div>
        <div class="pt-6 mt-8 border-t border-gray-200 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 leading-6 md:col-span-5">
            How often should we test our employees?
          </dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500 leading-6">
                Most our clients elect for seasonal testing, once every three months.
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
