<div class="bg-gray-300">
  <div class="px-4 py-12 mx-auto overflow-hidden max-w-screen-xl sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center -mx-5 -my-2">
      <div class="px-5 py-2">
        <a href="#" class="text-base text-gray-500 leading-6 hover:text-gray-900">
            {{ site.data.contact.phone }}
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="#" class="text-base text-gray-500 leading-6 hover:text-gray-900">
          Jobs
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="#" class="text-base text-gray-500 leading-6 hover:text-gray-900">
          Press
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="#" class="text-base text-gray-500 leading-6 hover:text-gray-900">
          FAQ
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="#partners" class="text-base text-gray-500 leading-6 hover:text-gray-900">
          Partners
        </a>
      </div>
    </nav>
    <div class="mt-8">
      <p class="text-base text-center text-gray-400 leading-6">
        &copy; {{site.title}} {{site.time | date:'%Y'}}, Made in Miami and New York City.
      </p>
    </div>
  </div>
</div>
