<div class="relative overflow-hidden bg-white shadow-lg">
  <div class="mx-auto max-w-screen-xl ">
    <div class="relative z-10 pb-8 bg-white sm:pb-8 md:pb-14 lg:max-w-2xl lg:w-full">
      <svg class="absolute inset-y-0 right-0 hidden w-48 h-full text-white lg:block transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="50,0 100,0 50,100 0,100" />
      </svg>

      <div class="relative w-full px-4 pt-6 sm:px-6 lg:px-8">
        <nav class="relative flex items-center justify-between sm:h-10 lg:justify-start">
            <div class="flex justify-center w-full md:w-1/2 md:justify-start">
                    <a href="{{site.baseurl}}/"><img alt="HSL Homepage" src="{{site.baseurl}}/assets/images/logo.svg" />
                    </a>
            </div>

            <div class="flex flex-row text-lg font-medium text-gray-700 md:block md:ml-10 md:pr-4">
                <a href="#services" class="hover:text-red-600 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">Services
                </a>
                <a href="#price" class="ml-8 hover:text-red-600 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">Pricing
                </a>
                <a href="#team" class="ml-8 hover:text-red-600 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">Team
                </a>
            </div>
        </nav>
      </div>

    </div>
  </div>
  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img class="object-cover w-full h-56 sm:h-72 md:h-96 lg:w-full lg:h-full" src="https://images.unsplash.com/photo-1560264280-88b68371db39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="" />
  </div>
</div>
