<div class="flex flex-wrap w-full px-4 pt-6 sm:px-6 lg:px-8">
      <div class="flex justify-center w-full md:w-1/2 md:justify-start">
              <a href="{{site.baseurl}}/"><img alt="HSL Homepage" src="{{site.baseurl}}/assets/images/logo.svg" />
              </a>
      </div>

      <nav class="flex justify-center w-full text-lg md:w-1/2">
          <a href="#services" class="hover:text-red-600 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">Services
          </a>
          <a href="#price" class="ml-8 hover:text-red-600 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">Pricing
          </a>
          <a href="#team" class="ml-8 hover:text-red-600 focus:outline-none focus:text-gray-900 transition duration-150 ease-in-out">Team
          </a>
      </nav>
  </nav>
</div>

