<a name="partners"></a>
<div class="bg-white">
  <div class="px-4 py-12 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
    <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
      <div class="flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
        <img class="h-12" src="/images/partner-logos/microgen.svg" alt="MicroGenDX" />
      </div>
      <div class="flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
        <img class="h-12" src="/images/partner-logos/pixel.svg" alt="Pixel" />
      </div>
      <div class="flex justify-center col-span-1 md:col-span-3 lg:col-span-1">
        <img class="h-12" src="/images/partner-logos/dlink.png" alt="D-Link" />
      </div>
      <div class="flex justify-center col-span-2 md:col-span-3 lg:col-span-1">
        <img class="h-12" src="/images/partner-logos/hospital.png" alt="Mt. Sinai" />
      </div>
    </div>
  </div>
</div>
