<a name="price"></a>
<div class="bg-white">
  <div class="px-4 pt-12 sm:px-4 lg:px-6 lg:pt-8">
    <div class="text-center">
      <p class="max-w-4xl mx-auto mt-3 text-xl text-gray-800 leading-7 sm:mt-5 sm:text-2xl sm:leading-8">
            Contact us for services tailored to your needs.
      </p>
    </div>
  </div>
  <div class="pb-12 mt-16 bg-white lg:mt-20 lg:pb-20">
    <div class="relative z-0">
      <div class="absolute inset-0 bg-white h-5/6 lg:h-2/3"></div>
      <div class="px-4 mx-auto max-w-screen-xl sm:px-6 lg:px-8">
        <div class="relative lg:grid lg:grid-cols-7">
          <div class="max-w-md mx-auto lg:mx-0 lg:max-w-none lg:col-start-1 lg:col-end-3 lg:row-start-2 lg:row-end-3">
            <div class="flex flex-col h-full overflow-hidden border-2 border-gray-300 rounded-lg shadow-lg lg:rounded-none lg:rounded-l-lg">
              <div class="flex flex-col flex-1">
                <div class="px-6 py-10 bg-yellow-200">
                  <div>
                    <h3 class="text-2xl font-medium text-center text-gray-900 leading-8" id="tier-hobby">
                        Temperature Tracking
                    </h3>
                    <div class="flex items-center justify-center mt-4">
                      <span class="flex items-start px-3 text-6xl leading-none tracking-tight text-gray-900">
                        <span class="mt-2 mr-2 text-4xl font-medium">
                          $
                        </span>
                        <span class="font-extrabold">
                          5
                        </span>
                      </span>
                      <span class="text-sm font-medium text-gray-500 leading-7">
                        per employee per month + cost of installation
                      </span>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col justify-between flex-1 p-6 border-t-2 border-gray-100 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                  <ul>
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        Equipment installation
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        Facial recognition
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        Expert billing and legal support
                      </p>
                    </li>

                    <li class="flex items-start mt-4">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        Data integration with existing employee systems
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        Alerts, reports, analytics platform
                      </p>
                    </li>

                    <li class="flex items-start mt-4">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="purple" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                       Cut through red tape by defraying the costs of equipment and
                       installation
                      </p>
                    </li>

                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="#contact" class="block w-full px-6 py-3 text-base font-medium text-center text-indigo-600 bg-white border border-transparent rounded-lg leading-6 hover:text-indigo-500 focus:outline-none focus:shadow-outline transition ease-in-out duration-150" aria-describedby="tier-hobby">
                        Contact sales support
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="max-w-lg mx-auto mt-10 lg:mt-0 lg:max-w-none lg:mx-0 lg:col-start-3 lg:col-end-6 lg:row-start-1 lg:row-end-4">
            <div class="relative z-10 rounded-lg shadow-xl">
              <div class="absolute inset-0 border-2 border-gray-300 rounded-lg pointer-events-none"></div>
              <div class="absolute inset-x-0 top-0 transform translate-y-px">
                <div class="flex justify-center transform -translate-y-1/2">
                  <span class="inline-flex px-4 py-1 text-sm font-semibold tracking-wider text-white uppercase bg-indigo-600 rounded-full leading-5">
                   COVID-19
                  </span>
                </div>
              </div>
              <div class="px-6 pt-12 pb-10 bg-green-200 rounded-t-lg">
                <div>
                  <h3 class="text-3xl font-semibold text-center text-black leading-9 sm:-mx-6" id="tier-growth">
                      No-Contact Testing
                  </h3>
                  <div class="flex items-center justify-center mt-4">
                    <span class="flex items-start px-3 text-6xl leading-none tracking-tight text-gray-900 sm:text-6xl">
                      <span class="mt-2 mr-2 text-4xl font-medium">
                        $
                      </span>
                      <span class="font-extrabold">
                          35
                      </span>
                    </span>
                    <span class="text-base font-medium text-gray-500 leading-8">
                      per employee per test + cost of the test
                    </span>
                  </div>
                </div>
              </div>
              <div class="px-6 pt-2 pb-8 border-t-2 border-gray-100 rounded-b-lg bg-gray-50 sm:px-10 sm:py-10">
                <ul>
                  <li class="flex items-start">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        Schedule once, seasonally, or on a monthly basis.
                    </p>
                  </li>
                  <li class="flex items-start mt-4">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        Convenient pre-labeled test-kit delivery
                    </p>
                  </li>
                  <li class="flex items-start mt-4">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        Physician-led telehealth supervision
                    </p>
                  </li>
                  <li class="flex items-start mt-4">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                      Expert billing and legal support
                    </p>
                  </li>
                  <li class="flex items-start mt-4">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        State-of-the art records keeping and data integration with existing employee systems
                    </p>
                  </li>
                  <li class="flex items-start mt-4">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        12 months access to our digital alerts, reports, and analytics platform
                    </p>
                  </li>
                  <li class="flex items-start mt-4">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24"
                          stroke="purple">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        Our billing experts work with multiple state and federal insurance
                        agencies to offset the cost of the testing kit ($150 value).
                    </p>
                  </li>

                  <li class="flex items-start mt-4">
                    <div class="flex-shrink-0">
                      <svg class="w-6 h-6 text-green-500" fill="none" viewBox="0 0 24 24"
                          stroke="purple">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                      </svg>
                    </div>
                    <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        Optional wrist bands, kiosk and window signage that signal preparedness
                    </p>
                  </li>

                </ul>
                <div class="mt-10">
                  <div class="rounded-lg shadow-md">
                    <a href="#contact" class="block w-full px-6 py-4 text-xl font-medium text-center text-white bg-indigo-600 border border-transparent rounded-lg leading-6 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition ease-in-out duration-150" aria-describedby="tier-growth">
                        Sales support
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="max-w-md mx-auto mt-10 lg:m-0 lg:max-w-none lg:col-start-6 lg:col-end-8 lg:row-start-2 lg:row-end-3">
            <div class="flex flex-col h-full overflow-hidden border-2 border-gray-300 rounded-lg shadow-lg lg:rounded-none lg:rounded-r-lg">
              <div class="flex flex-col flex-1">
                <div class="px-6 py-10 bg-blue-200">
                  <div>
                    <h3 class="text-2xl font-medium text-center text-gray-900 leading-8" id="tier-scale">
                        Platform Access
                    </h3>
                    <div class="flex items-center justify-center mt-4">
                      <span class="flex items-start px-3 text-6xl leading-none tracking-tight text-gray-900">
                        <span class="mt-2 mr-2 text-4xl font-medium">
                            $
                        </span>
                        <span class="font-extrabold">
                            3
                        </span>
                      </span>
                      <span class="text-sm font-medium text-gray-500 leading-7">
                        per employee per month
                      </span>
                    </div>
                  </div>
                </div>
                <div class="flex flex-col justify-between flex-1 p-6 border-t-2 border-gray-100 bg-gray-50 sm:p-10 lg:p-6 xl:p-10">
                  <ul>
                    <li class="flex items-start">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                        Digital records keeping
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                          Compliance
                      </p>
                    </li>
                    <li class="flex items-start mt-4">
                      <div class="flex-shrink-0">
                        <svg class="w-6 h-6 text-green-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                      </div>
                      <p class="ml-3 text-base font-medium text-gray-700 leading-6">
                          Alerts, reports, analytics platform
                      </p>
                    </li>
                  </ul>
                  <div class="mt-8">
                    <div class="rounded-lg shadow-md">
                      <a href="#contant" class="block w-full px-6 py-3 text-base font-medium text-center text-indigo-600 bg-white border border-transparent rounded-lg leading-6 hover:text-indigo-500 focus:outline-none focus:shadow-outline transition ease-in-out duration-150" aria-describedby="tier-scale">
                         Contact sales support
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
