<div class="flex flex-col pt-10 pb-10 bg-white">

  <h1 class="mb-4 text-2xl font-black text-center text-gray-900 ">Employee Testing in Four Easy
      Steps</h1>

  <div class="flex flex-wrap mx-2 mt-2">

    <div class="w-full px-6 my-2 md:w-1/2 lg:w-1/4">
      <div class="flex items-center justify-center bg-gray-300 border border-gray-200 rounded-lg">
        <div class="flex items-center justify-center w-1/3 h-20 bg-transparent">
            <img class="h-20" src="{{site.baseurl}}/assets/images/ship.svg">
        </div>
        <div class="flex flex-col items-center justify-center flex-1 w-2/3 h-24 px-1 bg-gray-200 rounded-r-lg body-step">
          <h2 class="text-sm font-bold">1. Receive</h2>
          <p class="text-xs text-gray-600">
            a shipment of pre-labeled kits in the mail
          </p>
        </div>
      </div>
    </div>


    <div class="w-full px-6 my-2 md:w-1/2 lg:w-1/4">
      <div class="flex items-center justify-center bg-gray-300 border border-gray-200 rounded-lg">
        <div class="flex items-center justify-center w-1/3 h-20 bg-transparent">
            <img class="h-20" src="{{site.baseurl}}/assets/images/team.svg">
        </div>
        <div class="flex flex-col items-center justify-center w-2/3 h-24 px-1 bg-gray-200 rounded-r-lg body-step">
          <h2 class="text-sm font-bold">2. Distribute</h2>
          <p class="text-xs text-gray-600">
            kits to your employees
          </p>
        </div>
      </div>
    </div>

    <div class="w-full px-6 my-2 md:w-1/2 lg:w-1/4">
      <div class="flex items-center justify-center bg-gray-300 border border-gray-200 rounded-lg">
        <div class="flex items-center justify-center w-1/3 h-20 bg-transparent icon-step">
            <img class="h-20" src="{{site.baseurl}}/assets/images/mail.svg">
        </div>
        <div class="flex flex-col items-center justify-center w-2/3 h-24 px-1 bg-gray-200 rounded-r-lg body-step">
          <h2 class="text-sm font-bold">3. Send</h2>
          <p class="text-xs text-gray-600">
            the kits back to us, as they are completed
          </p>
        </div>
      </div>
    </div>


    <div class="w-full px-6 my-2 md:w-1/2 lg:w-1/4">
      <div class="flex items-center justify-center bg-gray-300 border border-gray-200 rounded-lg">
        <div class="flex items-center justify-center w-1/3 h-20 bg-transparent icon-step">
            <img class="h-20" src="{{site.baseurl}}/assets/images/report.svg">
        </div>
        <div class="flex flex-col items-center justify-center w-2/3 h-24 px-1 bg-gray-200 rounded-r-lg body-step">
          <h2 class="text-sm font-bold">4. View</h2>
          <p class="text-xs text-gray-600">
            your reports in real time on our platform
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
