<div class="flex flex-col pt-10 pb-10 bg-white">
  <h1 class="mb-4 text-2xl font-black text-center text-gray-900 ">Employee Testing in Four Easy Steps</h1>
  <div class="flex">
    <div class="w-1/3 px-6 text-center">
      <div class="flex items-center justify-center bg-gray-300 border border-gray-200 rounded-lg">
        <div class="flex items-center justify-center w-1/3 h-20 bg-transparent icon-step">
            <img src="{{site.baseurl}}/assets/images/ship.svg">
        </div>
        <div class="flex flex-col items-center justify-center w-2/3 h-24 px-1 bg-gray-200 rounded-r-lg body-step">
          <h2 class="text-sm font-bold">Receive</h2>
          <p class="text-xs text-gray-600">
            a shipment of pre-labeled kits in the mail
          </p>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center flex-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 2h-7.229l7.014 7h-13.785v6h13.785l-7.014 7h7.229l10-10z"/></svg>
    </div>
    <div class="w-1/3 px-6 text-center">
      <div class="flex items-center justify-center bg-gray-300 border border-gray-200 rounded-lg">
        <div class="flex items-center justify-center w-1/3 h-20 bg-transparent icon-step">
            <img src="{{site.baseurl}}/assets/images/team.svg">
        </div>
        <div class="flex flex-col items-center justify-center w-2/3 h-24 px-1 bg-gray-200 rounded-r-lg body-step">
          <h2 class="text-sm font-bold">Distribute</h2>
          <p class="text-xs text-gray-600">
            the kits to your employees
          </p>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center flex-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 2h-7.229l7.014 7h-13.785v6h13.785l-7.014 7h7.229l10-10z"/></svg>
    </div>
    <div class="w-1/3 px-6 text-center">
      <div class="flex items-center justify-center bg-gray-300 border border-gray-200 rounded-lg">
        <div class="flex items-center justify-center w-1/3 h-20 bg-transparent icon-step">
            <img src="{{site.baseurl}}/assets/images/mail.svg">
        </div>
        <div class="flex flex-col items-center justify-center w-2/3 h-24 px-1 bg-gray-200 rounded-r-lg body-step">
          <h2 class="text-sm font-bold">Send</h2>
          <p class="text-xs text-gray-600">
            the kits back to us, as they are completed
          </p>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center flex-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M14 2h-7.229l7.014 7h-13.785v6h13.785l-7.014 7h7.229l10-10z"/></svg>
    </div>
    <div class="w-1/3 px-6 text-center">
      <div class="flex items-center justify-center bg-gray-300 border border-gray-200 rounded-lg">
        <div class="flex items-center justify-center w-1/3 h-20 bg-transparent icon-step">
            <img src="{{site.baseurl}}/assets/images/report.svg">
        </div>
        <div class="flex flex-col items-center justify-center w-2/3 h-24 px-1 bg-gray-200 rounded-r-lg body-step">
          <h2 class="text-sm font-bold">View</h2>
          <p class="text-xs text-gray-600">
            your reports in real time on our platform
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

