<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{{site.baseurl}}/images/favicon.png">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link href="{{site.baseurl}}/assets/css/tailwind-out.css" rel="stylesheet">
  {% seo %}

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NCWTKVT');</script>
  <!-- End Google Tag Manager -->

</head>
<body class='font-sans leading-normal tracking-normal bg-blue-100'>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NCWTKVT"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{content}}

  {% include contact.html %}
  {% include footer.html %}

  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/scripts.js"></script>

  {% include google-analytics.html %}

</body>
</html>
